<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Invoice</h2>
                <h3 class="pull-right">Order # 12345</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong>Patient Name:</strong> {{header.appointment.patient.user.full_name|title}}</p>
                    <p><strong>Age:</strong> {{header.appointment.patient.user.age}}</p>
                    <p><strong>Gender:</strong> {{header.appointment.patient.user.gender|title}}</p>
                    <p><strong>Contact:</strong> {{header.appointment.patient.user.mobile}}</p>
                    <p><strong>Address:</strong> {{header.appointment.patient.user.address}}</p>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Shipped To:</strong><br>
                        Jane Smith<br>
                        1234 Main<br>
                        Apt. 4B<br>
                        Springfield, ST 54321
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <form id="patient_report_form" action="" method="post">{% csrf_token %}
                    <div class="panel-heading">
                        <div class="row">
                            <input type="hidden" name="bill_id" id="bill_id" value="0">
                            <input type="hidden" name="head_id" value="{{head_id}}">
                            <input type="hidden" name="patient_id" value="{{header.appointment.patient_id}}">
                            <input type="hidden" name="hospital_id" value="{{header.appointment.hospital_id}}">
                            <input type="hidden" name="doctor_id" value="{{header.appointment.doctor_id}}">
                            <div class="col-lg-8">
                                <div class="col-lg-4">
                                    <label>Cash</label>
                                    <input type="number" class="form-control" name="cash_amount" id="cash_amount"
                                           placeholder="Enter Cash Amount" value="0">
                                </div>

                                <div class="col-lg-4">
                                    <label>Online</label>
                                    <input type="number" class="form-control" name="online_amount" id="online_amount"
                                           placeholder="Enter Online Amount" value="0">
                                </div>

                                <div class="col-lg-4">
                                    <label>Remaining</label>
                                    <input type="number" class="form-control" name="remaining_amount"
                                           id="remaining_amount"
                                           value="0">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="col-lg-3">
                                    <button class="btn btn-success" id="submitForm">Print</button>
                                </div>

                                <div class="col-lg-3">
                                    <a href="/patient_report/history/{{header.appointment.patient_appoint_id}}/"
                                       target="_blank"
                                       class="btn btn-primary">History</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>SN.</th>
                                    <th>Medicine Name</th>
                                    <th colspan="1">Price</th>
                                    <th>Qty</th>
                                    <th>total</th>
                                    <th>Final Amount</th>
                                </tr>
                                </thead>
                                <tbody>


                                </tbody>
                            </table>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary" onclick="add_medicine()">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
        var index = 1;
        $(document).ready(function(){

            {% for details in details %}

                var html = '';
                html += '<tr id="medicine_tr'+index+'">';
                html += '<td>{{forloop.counter}}</td>';
                html += '<td><input value="{{details.medicine_details.name}} {{details.medicine_details.batch_no}}" onkeyup="search_medicine('+index+');" type="text" id="medicine'+index+'" name="medicine" class="form-control" autocomplete="off"></td>';
                html += '<input value="{{details.medicine_details.medicine_id}}" type="hidden" name="medicine_id" class="form-control" id="medicine_id'+index+'">';
                html += '<td><input readonly value="{{details.medicine_details.price}}" type="text" id="price'+index+'" class="form-control" name="price"></td>';
                html += '<td><input onkeyup="add_qty('+index+');" type="text" id="qty'+index+'" name="qty" class="form-control" placeholder="Enter quantity"></td>';
                html += '<td><input value="0" type="text" id="total'+index+'" name="total" class="total form-control" readonly></td>';
                html += '<td><input type="hidden" readonly></td>';
                html += '</tr>';

                // Append the new row to the table body
                $('table tbody').append(html);
                index +=1;
            {% endfor %}
        });

        function add_medicine(){

            var html = '';
			html += '<tr id="medicine_tr'+index+'">';
			html += '<td>'+index+'</td>';
			html += '<td><input onkeyup="search_medicine('+index+');" type="text" id="medicine'+index+'" name="medicine" class="form-control" autocomplete="off"></td>';
			html += '<input type="hidden" name="medicine_id" class="form-control" id="medicine_id'+index+'">';
			html += '<td><input readonly type="text" id="price'+index+'" class="form-control" name="price"></td>';
			html += '<td><input onkeyup="add_qty('+index+');" type="text" id="qty'+index+'" name="qty" class="form-control" placeholder="Enter quantity"></td>';
			html += '<td><input value="0" type="text" id="total'+index+'" name="total" class="total form-control" readonly></td>';
			html += '<td><input type="hidden" readonly></td>';
			html += '</tr>';

            // Append the new row to the table body
            $('table tbody').append(html);
            index +=1;
        }
</script>
<script>
    function search_medicine(indexID) {
        $('#medicine' + indexID).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/store/search-medicine/',
                    type: 'GET',
                    data: { search_value: request.term,
                            hospital_id:'{{hospital_id}}',
                    },
                    success: function (result) {
                        console.log(result.results, '----------result')
                        if (result.results) {
                            var suggestedProducts = result.results.map(function (results) {
                                return {
                                    label: results.name + ' ' + results.batch_no,
                                    value: results.name + ' ' + results.batch_no,
                                    id: results.id,
                                    price:results.price
                                };
                            });
                            response(suggestedProducts);

                        }
                    },
                    error: function (xhr, errmsg, err) {
                        // Handle the error
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            },
            select: function (event, ui) {
                // Set the selected product details in your input fields
                $('#medicine_id' + indexID).val(ui.item.id);
                $('#price' + indexID).val(ui.item.price);
                add_medicine()
            }
        });
    }
</script>


<script>
    function add_qty(index){
        $('#total'+index).val('')
        var qty = $('#qty'+index).val()
        qty = parseInt(qty);
        var price = $('#price'+index).val()
        price = parseInt(price);
        if (qty){
            qty = qty
        }else{
            qty = 0
        }
        var final_price = qty * price
        var total = $('#total'+index).val(final_price)

        const nodeList = document.querySelectorAll(".total");
        var grand_total = 0
        for (let i = 0; i < nodeList.length; i++) {
            var total = parseInt(nodeList[i].value)
            grand_total  += total
        }
        $('.g_total').html(grand_total);
        $('#g_amount').val(grand_total);
    }
</script>

<script>
$(document).ready(function() {
    $('#submitForm').click(function() {
        var formData = $('#patient_report_form').serialize();
        var bill_id = $('#bill_id').val();
        $.ajax({
            url: '/billing/generated_bill/' + bill_id + '/',
            type: 'POST',
            data: formData,
            success: function(response) {
                console.log(response);
                if (response.status == 1) {
                    window.location.href = '/billing/generated_billing_list/'
                }
            },
            error: function(error) {
                console.log('Error:', error);
            }
        });
    });
});

</script>

</body>
</html>
