<!DOCTYPE html>
<html>
<head>
    <title>Mini Medical Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>

<div class="modal fade" id="userInfoModal" tabindex="-1" aria-labelledby="userInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userInfoModalLabel">Mini Medical Store Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <select id="selectOptions" class="form-select">
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" name="medicine_qty" id="medicine_qty" class="form-control"
                               placeholder="Enter medicine qty">
                        <input type="hidden" value="" id="hidden_medicine_id">
                        <input type="hidden" value="" id="hidden_medicine_qty">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="transfer_medicine" data-bs-dismiss="modal">Save
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{mini_medical_store.mini_store_user.full_name}}</h2>
            <a href="/billing/patient_billing_list/" target="_blank" class="btn btn-primary">Bill Generate</a>
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Batch No.</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Expiration</th>
            <th>Hospital</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for medicine in medicine %}
        <tr>
            <td>{{ medicine.medicine.name }}</td>
            <td>{{ medicine.medicine.batch_no }}</td>
            <td>{{ medicine.qty }}</td>
            <td>{{ medicine.medicine.price }}</td>
            <td>{{ medicine.medicine.expiration }}</td>
            <td>{{ mini_medical_store.hospital.user.full_name }}</td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="transfer_medicine('{{medicine.medicine.medicine_id}}', '{{medicine.qty}}')" data-bs-target="#userInfoModal">Transfer
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>


<script>
    function transfer_medicine(medicine_id, hidden_medicine_qty) {
        $.ajax({
            url: '/store/get_mini_store_model_data/',
            type: 'GET',
            data:{
                'mini_medical_store_id':'{{mini_medical_store_id}}',
                'hospital_id':'{{hospital_id}}',
            },
            success: function (data) {
                var select = $('#selectOptions');
                select.empty();
                $.each(data.mini_store, function (index, item) {
                    select.append('<option value="' + item.mini_store_id + '">' + item.mini_store_name + '</option>');
                });
                select.show();
                $('#hidden_medicine_id').val(medicine_id)
                $('#hidden_medicine_qty').val(hidden_medicine_qty)
            }
        });
    }

    $('#transfer_medicine').click(function(){
        var medicine_id = $('#hidden_medicine_id').val()
        var to_mini_store_id = $('#selectOptions').val()
        var medicine_qty = parseInt($('#medicine_qty').val())
        var hidden_medicine_qty = parseInt($('#hidden_medicine_qty').val())
        if (hidden_medicine_qty < 1){
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Stock Medicine Qty is 0 please add first!",
            });
            return false;
        }
        if (medicine_qty){
            console.log(medicine_qty, '==========medicine_qty')
        }else{
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Please add Medicine minimum 1 qty!",
            });
            return false;
        }

        if (medicine_qty < 1){
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Medicine Qty is less than 1!",
            });
            return false;
        }

        if (medicine_qty > hidden_medicine_qty){
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Medicine Qty is more than stock qty!",
            });
            return false;
        }
        $.ajax({
            url: '/store/transfer_medicine_mini_to_mini_store/',
            type: 'GET',
            data:{
                'hospital_id': '{{hospital_id}}',
                'from_mini_medical_store_id': '{{mini_medical_store_id}}',
                'medicine_id': medicine_id,
                'to_mini_store_id': to_mini_store_id,
                'medicine_qty' : medicine_qty,
            },
            success: function (data) {
                console.log(data)
                if (data.status == 1){
                    Swal.fire({
                      title: "Success!",
                      text: data.msg,
                      icon: "success"
                    }).then((result) => {
                      location.reload()
                    });
                }
            }
        });
    });

</script>

<script>
    function get_mini_store_records(){
        var store_id = $('#mini_stores_list').val()
        if (store_id){
            window.location.href = '/store/view_mini_stores_record/'+store_id+'/'+{{hospital_id}}+'/'
        }
    }
</script>
</body>
</html>
